html, body {
    height: 100%
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    }

.main_title{
    display: flex;
    flex-direction: column;
    margin-right: 40px ;
}

h1{
    color: #666;
}



form {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px;
}

button {
    width: 100%
}




